<div class="page-container">
    <form class="card form-container" [formGroup]="createForm">
        <h2 class="form-title">Create Snippet</h2>
        
        <div class="form-group">
            <input type="text" placeholder="Snippet Title" [formControl]="title" />
            @if(title.invalid && title.touched){
                <span class="error-text">Title field cannot be empty</span>
            }
        </div>

        <div class="form-group">
            <textarea placeholder="Paste your code here..." [formControl]="code"></textarea>
            @if(code.invalid && code.touched){
                <span class="error-text">Code field cannot be empty</span>
            }
        </div>

        <div class="button-group">
            <button class="btn btn-primary" [disabled]="createForm.invalid" (click)="save()">Save Snippet</button>
        </div>
    </form>
</div>