<div class="page-container">
    <div class="snippet-grid">
        @if(isLoading()){
            <div class="empty-state">Loading snippets... ⏳</div>
        } 
        @else if(items().length == 0){
            <div class="empty-state">No Code Snippets found. Be the first to create one!</div>
        } 
        @else {
            @for(item of items(); track item.id){
                <div class="snippet-card">
                    <a [routerLink]="['/snippet', item.id]">{{item.title}}</a>
                </div>
            }
        }
    </div>
</div>