<nav>
    <div class="logo">
        <a routerLink="/">CodeSnippetSPA</a>
    </div>
    <ul>
        @if(authService.isAuthenticated()){
            <li><a routerLink="/create" routerLinkActive="active">Create</a></li>
            <li class="logout-btn" (click)="authService.logout()">Logout</li>
        }@else{
            <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
            <li><a routerLink="/signup" routerLinkActive="active">Signup</a></li>
        }
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    </ul>
</nav>